@media only screen and (max-width: 992px) {
    .cuaca-hourly {
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
    }

    .item-hourly {
        width: 100px;
    }

    .bbottom {
        width: max-content;
    }
}
@media only screen and (max-width: 767px) {
   .detail-bencana-content{
    flex-direction: column-reverse;
   }

   .contact{
    display: flex;
    justify-content: center;
}
// footer styling
.contact-details{
    width: 50%;
}

   
}

@media only screen and (max-width: 560px) {
    .border-cuaca {
        border-right: 0px solid;
        border-bottom: 3px solid white;
        width: 100%;
        text-align: center;
    }

    .vertical {
        display: flex;
        flex-direction: column;
    }

    .horly-cuaca {
        width: 100%;
        margin-left: 0 !important;
        text-align: center;
        justify-content: center;
    }

    .bbottom {
        margin: 35px auto;
        border-bottom: 1px solid white;
        width: max-content;
    }

    .cuaca-hourly {
        display: flex;
        margin: auto;
        justify-content: center;
        gap: 15px;
    }
    .cuaca{
        gap: 15px;
    }
    .contact{
        display: flex;
        justify-content: center;
    }
    // footer styling
    .contact-details{
        width: 50%;
    }
}

@media only screen and (max-width: 434px) {

    .cuaca-hourly {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .card-margin {
        margin: auto 25px auto 25px;
        justify-content: center;
    }

    .carousel-inner {
        border-radius: 7px;
    }

    #carouselExampleIndicators {
        max-width: 320px;
        height: 175px;
        margin: auto;
        margin-top: 30px;
    }

    #carouselExampleIndicators img{
        max-width: 340px;
        height: 175px;
    }

    .bencana_home {
        margin: 0;
        padding: 0;
    }

    .detail-bencana-width {
        max-width: 360px;
    }

    .footer-text {
        padding-top: 30px;
        max-width: 350px;
        margin: auto;
        text-align: center;
    }

    .navbar-brand {
        max-width: 215px;
    }
}